<div class="Contenedor">

    <div class="Contenedor-izquierdo">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id Diagnostico</th>
                    <th scope="col">Nombre Psicologo</th>
                    <th scope="col">Apellido Psicologo</th>
                    <th scope="col">Fecha</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

    <div class="Contenedor-derecho">
        <div class="mb-3 editar">
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Id Diagnostico">
          </div>
        <button type="button" class="btn btn-primary">Consultar Diagnostico</button>
          
        <div class="mb-3 ">
            <label for="exampleFormControlTextarea1" class="form-label">Diagnostico y Recomendaciones</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" disabled rows="3"></textarea>
          </div>
    </div>

</div>

