<div class= "contenedor-form">
    <h2>Registro de Psicologo</h2>
    <div class="mb-3">
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre usuario del psicologo">
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Cedula del psicologo">
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre del psicologo">
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Apellido del psicologo">
    </div>
    <select class="form-select" aria-label="Default select example disabled">
        <option selected disabled>Sexo del psicologo</option>
        <option value="1">Masculino</option>
        <option value="2">Femenino</option>
      </select>
    
    <div class="mb-3">
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Edad del psicologo">
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Salario del psicologo">
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Celular del psicologo">
    </div>
    <div class="mb-3">
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Correo del psicologo">
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Contraseña">
    </div>
      <select class="form-select" aria-label="Default select example disabled">
        <option selected disabled>Estado del psicologo</option>
        <option value="1">Activo</option>
        <option value="2">Inactivo</option>
      </select>
    
    
    <button type="button" id="boton" class="btn btn-primary" >Registrar Psicologo</button>
    <button type="button" id="boton" class="btn btn-primary" >Editar Psicologo</button>
</div>

