<body>
    <div class="contenedor-formulario">
        <div class="iniciar-sesion">
           <h1>Psicology App</h1>
            <div class="mb-3">
                  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre de Usuario">
              </div>
              <div class="mb-3">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Contraseña">
              </div>
      
              <div class="mb-3">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre del paciente">
              </div>

              <div class="mb-3">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Apellido del paciente">
              </div>

              <div class="mb-3">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Cedula del paciente">
              </div>

              <div class="mb-3">
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Correo electronico">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Edad del paciente">
            </div>
            <select class="form-select" aria-label="Default select example disabled">
              <option selected disabled>Sexo del Paciente</option>
              <option value="1">Masculino</option>
              <option value="2">Femenino</option>
            </select>

              <p>¿Ya tiene cuenta de paciente? <a [routerLink]='["/login"]'>Inicia Sesión</a></p>
              <button type="button" class="btn btn-primary" >Registrate</button>
        </div>
    </div>

    <div class="Fondo-login">
        
    </div>
</body>
