<div class="contenedor-form-admin">
    <h2>Nuevo Administrador</h2>
    <div class="mb-3">
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre Usuario">
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Contraseña">
    </div>
    <div class="centrarboton">
        <button type="button" id="boton" class="btn btn-primary">Registrar Administrador</button>
    </div>
    <div class="centrarboton">
        <button type="button" id="boton" class="btn btn-primary">Editar Administrador</button>
    </div>
    
</div>
