<div class="barra-busqueda">
    <div class="mb-3">

        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre Usuario">
    </div>
    <div class="boton">
        <button type="button" id="boton" class="btn btn-primary">Buscar</button>
    </div>

</div>

<div class="contenedor-cons-paciente">


    <div class="contenedor-form">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nombre de usuario</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>